div {
    display: inline-block;
}

.kotak1 {
    background-color: lightgreen;
    width: 1300px;
    height: 100px;
    margin: 20px 20px;
    border: 2px solid black;
}

.container2{
    display: inline-flex;
    margin-top: 8px;
}

.kotak2 {
    background-color: yellow;
    width: 240px;
    height: 230px;
    margin: 10px 20px;
    border: 2px solid black;
}

.kotak3 {
    background-color: orangered;
    width: 1025px;
    height: 230px;
    margin: 10px 10px;
    border: 2px solid black;
}

.container3 {
    display: inline-flex;
}

.kotak4 {
    background-color: yellow;
    width: 240px;
    height: 230px;
    margin: 10px 20px;
    border: 2px solid black;
}

.kotak5 {
    background-color: lightblue;
    width: 1025px;
    height: 230px;
    margin: 10px 10px;
    border: 2px solid black;
}
